.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
}

.line-clamp-4 {
    -webkit-line-clamp: 4;
}

.active>.page-link,
.page-link.active {
    background-color: #3f78e0;
    color: white;
}

mark {
    background-color: yellow;
}

.ck-editor__editable[role="textbox"] {
    min-height: 300px;
}

.ck-content .image {
    max-width: 80%;
    margin: 20px auto;
}